*{
    margin: 0;
    padding: 0;
    list-style:none;
}
a{
    color: black;
    text-decoration: none;
}
.hidden{
    display: none;
    background-color: white;
    text-align: center;
}
body{
    width: 100%;
}
p{
    width: 100%;
    height:50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
table{
    width: 100%;
    margin-bottom: 30px;
    border-collapse:collapse;
    }
table th{
    height: 30px;
    text-align: center;
    border:1px solid gray;
    background-color: #d2d5e1;
}
table td{
    height: 30px;
    text-align: center;
    border:1px solid gray;
}
.tablelist ul{
    height: 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #d2d5e1;
}
.template11{
    width: 44px;
    height: 30px;
    float: left;
    text-align: center;
    border-right: 1px solid gray;
}
.tableend{
    height:30px;
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    background-color: #d2d5e1;
    border-top: 1px solid gray;
    position: fixed;
    bottom: 0;
}

.tableend input{
    width: 20px;
    height: 16px;
}
.tableend span{
    margin: 0 5px;
} 
button{
    width: 80px;
    height: 26px;
    margin: 0 5px;
}   
.tabletop{
    height: 35px;
    width: 100%;
    background-color: #d2d5e1;
    /* border:1px solid gray; */
}
.tabletop div{
    height: 100%;
    float: left;
    line-height: 30px;
    width: 50%;
}
.template12{
    width: 45px;
    height: 30px;
    float: left;
    text-align: center;
    border-right: 1px solid gray;
}
.main{
    width: 185px;
    float: left;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid gray;
}
.mainn{
    width: 210px;
    float: left;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid gray;
}
.mainunit{
    width: 70px;
    float: left;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid gray;
}
.main2{
    width: 71px;
    float: left;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid gray;
}
.tableinfo2{
    width: 100%;
    height:500px;
    overflow:auto;
    /* border: 1px solid red; */
}
.tableinfo2 ul{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid gray;
}