*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration:none
}
html,body{
    height: 100%;
    width: 100%;
    /*超出body范围部分隐藏*/
    overflow: hidden;
}
.all{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background-color: #99ccff;
}
.top{
    width: 100%;
    height: 5%;
    line-height: 30px;
    background-color: #d2d5e1;
    /* border-bottom: 1px solid black; */
}
.topleft{
    width: 15%;
    float: left;
    height: 100%;
    background-color:#6d98d9;
}
.topright{
    width: 20%;
    height: 100%;
    float: left;
}
.topleft li{
    float: left;
    margin-left: 10px;
}
.topright li{
    float: right;
    margin-right: 24px;
}
.top span{
    width: 65%;
    float: left;
    font-size: 30px;
    font-weight: bold;
    text-indent: 2em;
    color:#0b15a4;
    text-align: center;
}
.bottom{
    width: 100%;
    height: 95%;
}
.left{
    width: 14%;
    height: 100%;
    float: left;
    overflow: auto;
    background-color: #E7F5FD;
}
.left ul{
    border-top: 4px solid gray;
}
.left span{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}
.left li{
    font-size: 12px;
    line-height: 20px;
    margin-left: 5px;
}
.middle{
    width: 1%;
    height: 100%;
    float: left;
    text-align: center;
    background-color:#d3ebfc;
}
.middle img{
   margin-top:250px;
}
.right{
    width: 85%;
    height: 100%;
    float: right;
    background-color: red;
}
.intop{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}