<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/template1.css">
    <title>物料月消耗量统计表</title>
    <style>
    </style>
</head>
<body>
    <p>
        <select name="" id="">
            <option value="">2018</option>
            <option value="">2017</option>
            <option value="">2016</option>
            <option value="">2015</option>
        </select>
        <span>2018年物料消耗月汇总表</span>
        <button>导出Excel</button>
    </p>
    <div class="table">
        <div class="tablelist">
                <ul>
                    <li class="template11">序号</li>
                    <li class="main2">物料编号</li>
                    <li class="main2">物料名称</li>
                    <li class="main2">类别</li>
                    <li class="main2">一月</li>
                    <li class="main2">二月</li>
                    <li class="main2">三月</li>
                    <li class="main2">四月</li>
                    <li class="main2">五月</li>
                    <li class="main2">六月</li>
                    <li class="main2">七月</li>
                    <li class="main2">八月</li>
                    <li class="main2">九月</li>
                    <li class="main2">十月</li>
                    <li class="main2">十一月</li>
                    <li class="main2">十二月</li>
                </ul>
        </div>
        <div class="tableinfo2">
                <ul>
                    <li class="template11">1</li>
                    <li class="main2">11001</li>
                    <li class="main2">1111</li>
                    <li class="main2">11</li>
                    <li class="main2">111</li>
                    <li class="main2">11</li>
                    <li class="main2">111</li>
                    <li class="main2">11001</li>
                    <li class="main2">1111</li>
                    <li class="main2">11</li>
                    <li class="main2">111</li>
                    <li class="main2">11</li>
                    <li class="main2">111</li>
                    <li class="main2">111</li>
                    <li class="main2">11</li>
                    <li class="main2">111</li>
                </ul>
                <ul>
                    <li class="template11">2</li>
                    <li class="main2 ">11001</li>
                    <li class="main2 ">1111</li>
                    <li class="main2 ">11</li>
                    <li class="main2 ">111</li>
                    <li class="main2 ">11</li>
                    <li class="main2 ">111</li>
                    <li class="main2">11001</li>
                    <li class="main2">1111</li>
                    <li class="main2">11</li>
                    <li class="main2">111</li>
                    <li class="main2">11</li>
                    <li class="main2">111</li>
                    <li class="main2">111</li>
                    <li class="main2">11</li>
                    <li class="main2">111</li>
                </ul>
        </div>
        <div class="tableend">
            <div style="float:left;">
               <select name="" id="">
                   <option value="">10</option>
                   <option value="">20</option>
                   <option value="">50</option>
                   <option selected='selected' value="">100</option>
               </select>
               <span>首页</span>
               <span>上一页</span>
               <span><input type="text">/4</span>
               <span>下一页</span>
               <span>尾页</span>
               <span>刷新</span>
            </div>
            <div style="float:right;">
                每页100条，共394条
            </div>
        </div>
    </div>
</body>
</html>