<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/template3.css">
    <title>生产计划信息查询</title>
    <style>
    </style>
</head>
<body>
        <p> <select name="" id="">
            <option value="">2018</option>
            <option value="">2017</option>
            <option value="">2016</option>
            <option value="">2015</option>
            </select>
            <span>2018年产成品生产计划月汇总表</span>
            <button>数据导出</button>
        </p>
    <div class="all">
        <div class="leftone11">
            <div class="spandiv">    
                    <table>                         
                            <tr>
                                <td>序号</td><td>类别</td><td>产品名称</td><td>单位</td><td>一月</td><td>二月</td><td>三月</td><td>四月</td><td>五月</td><td>六月</td><td>七月</td><td>八月</td><td>九月</td><td>十月</td><td>十一月</td><td>十二月</td>
                            </tr>
                            <tr>
                                <td>1</td><td>124319</td><td>2018</td><td>124319</td><td>TG110型</td><td>1</td><td>124319</td><td>124319</td><td>1</td><td>2018</td><td>124319</td><td>TG110型</td><td>1</td><td>124319</td><td>124319</td><td>1</td>
                                
                            </tr>
                            <tr><td>2</td><td>11112</td><td>1</td><td>2018</td><td>1</td><td>2018</td><td>124319</td><td>1</td><td>124319</td><td>124319</td><td>1</td><td>3</td><td>1</td><td>11112</td><td>124319</td><td>124319</td></tr>

                            <tr>
                                <td>3</td><td>1</td><td>2018</td><td>1222222</td><td>1</td><td>2018</td><td>124319</td><td>1</td><td>124319</td><td>124319</td><td>1</td><td>11112</td><td>3</td><td>124319</td><td>124319</td><td>0</td>
                            </tr>  
                            <tr>
                                <td></td><td></td><td></td><td style="color:red;">小计：</td>
                                <td>1</td><td>2018</td><td>124319</td><td>1</td><td>124319</td><td>124319</td><td>1</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
                            </tr>  
                            <tr>
                                <td></td><td></td><td></td><td style="color:red;">合计：</td>
                                <td>1</td><td>2018</td><td>124319</td><td>1</td><td>124319</td><td>124319</td><td>1</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
                            </tr>  
                    </table>
            </div>
        </div>
    </div>
</body>
</html>