<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>液压机械生产资料信息管理系统_系统管理</title>
</head>
<link rel="stylesheet" href="../static/css/index.css">
<style></style>
<body>
    <div class="all">
        <div class="top">
            <ul class="topleft">
                <li>当前用户：张伟丰</li>
            </ul>
            <span><a href="main.html" target="myframe">液压机械生产资料信息管理系统</a></span>
            <ul class="topright">
                <li>注销</li>
                <li>退出</li>
            </ul>
        </div>
        <div class="bottom">
            <div class="left">
                <ul>
                    <span>基础数据管理</span>
                    <li><img src='../static/images/arrow.gif'>&nbsp;
                        <a href="./onebaseinfo.html" target="myframe">物料基础信息管理</a></li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;
                        <a href="./onebaseinput.html" target="myframe">BOM资料录入</a></li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;
                        <a href="./onebasemanage.html" target="myframe">BOM资料管理</a></li>
                </ul>
                <ul>
                    <span>生产资料价格管理</span>
                    <li><img src='../static/images/arrow.gif'>&nbsp;原材料单价录入</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;辅助材料单价录入</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;半成品单位加工费录入</li>
                </ul>
                <ul>
                    <span>生产资料采购管理</span>
                    <li><img src='../static/images/arrow.gif'>&nbsp;生产计划录入</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;材料需求计算</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;采购订单生成</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;采购到货管理</li>
                </ul>
                <ul>
                    <span>生产资料耗用量计算</span>
                    <li><img src='../static/images/arrow.gif'>&nbsp;已生产产成品录入</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;原材料消耗量计算</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;原材料消耗量统计</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;半成品消耗量计算</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;半成品消耗量统计</li>
                </ul>
                <ul>
                    <span>信息查询</span>
                    <li><img src='../static/images/arrow.gif'>&nbsp;生产计划信息查询</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;物料需求月汇总表</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;采购情况统计表</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;物料月消耗量统计表</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;物料月消耗费用统计表</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;半成品月生产量统计表</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;半成品月生产费用统计表</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;半成品月生产费用明细查询</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;产成品月生产量统计表</li>
                    <li><img src='../static/images/arrow.gif'>&nbsp;产成品生产费用明细查询</li>
                </ul>     
            </div>
            <div class="middle">
                    <img src="../static/images/close.gif" alt="">
                </div>
            <div class="right">
                <div class="intop">
                    <!-- <iframe src="./main.html" id="iframe1" width="100%" height="100%"></iframe> -->
                    <iframe src="main.html" width="100%" height="100%" name="myframe"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>