<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/template2.css">
    <title>onebaseinput</title>
    <style>
        html,body{
            width: 110%;
            height:100%;
        }
    </style>
</head>
<body>
        <p><span><button>物料需求计算</button></span><span>2018-12月</span></p>
    <div class="all">
        <div class="leftone6">
            <span>本月产品生产计划：</span>
            <div class="spandiv">    
                    <table>
                            <tr>
                                <td>产品品号</td><td>产品品名</td><td>单位</td><td>数量</td><td>录入时间</td><td>是否计算</td>
                            </tr>
                            <tr>
                                <td>3</td><td>124319</td><td>TG110型</td>
                                <td>1</td><td>2018-6-23 22:21:40</td>
                                <td>删除</td>
                            </tr>
                            <tr><td>1222222</td><td>11112</td>
                                <td>3</td><td>1</td><td>11112</td><td>删除</td></tr>
                            <tr><td>1222222</td><td>1222222</td>
                                <td>11112</td><td>3</td><td>1</td><td>删除</td></tr>  
                    </table>
            </div>
        </div>

        <div class="rightone6">
                <span>本月原材料需求：</span>
                <div class="spandiv">      
                        <table>          
                                <tr><td>产品品号</td>
                                    <td>产品品名</td><td>录入日期</td><td>单位</td>
                                    <td>数量</td><td>物料品号</td><td>物料品名</td><td>单位</td>
                                    <td>数量</td><td>计算时间</td>
                                </tr>
                                <tr><td>11112</td>
                                    <td>3</td><td>124319</td><td>TG110型</td>
                                    <td>1</td><td>2018-6-23 22:21:40</td><td>11112</td>
                                    <td>BOM更改</td><td>展开图</td><td>删除</td>
                                </tr>
                                <tr><td>11112</td><td>1222222</td><td>11112</td>
                                    <td>3</td><td>1</td><td>11112</td><td>11112</td><td>BOM更改</td><td>展开图</td><td>删除</td></tr>
                                <tr><td>11112</td><td>1222222</td><td>1222222</td>
                                    <td>11112</td><td>3</td><td>1</td><td>1</td><td>BOM更改</td><td>展开图</td><td>删除</td></tr>  
                        </table>
                </div>
            </div>
    </div>
</body>
</html>